<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Message Board</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <%- include('header', {title: title}) %>
    <h2>All Messages</h2>
    <ol>
        <% messages.forEach( (message, idx) => {  %>
            <li>
                <ul>
                    <li>User: <%= message.user %></li>
                    <li>Text: <%= message.text %></li>
                    <li>Date: <%= message.added %></li>
                    <button><a href="/message/<%= idx%>">Open</a></button>
                </ul>
            </li>
        <% }) %>
    </ol>
</body>
</html>